In [72]:
import pandas as pd
from FlightRadar24.api import FlightRadar24API as fapi
import pycountry_convert as pc
import time
from geopy import distance
import re

In [2]:
fr_api = fapi()

In [3]:
airports = fr_api.get_airports()
airports_df = pd.DataFrame(data=airports)

In [4]:
airlines = fr_api.get_airlines()
airlines_df = pd.DataFrame(data=airlines)

In [17]:
def flight_details(flight):
    try:
        flight.set_flight_details(fr_api.get_flight_details(flight.id))
    except AttributeError:
        _

In [10]:
flights = fr_api.get_flights()
for flight in flights :
    flight_details(flight)
    time.sleep(0.2)
    # We add the sleep in order to not overload the flightRadar24 API

In [23]:
flights[45].__dict__

{'id': '2d3d4512',
 'icao_24bit': '71C081',
 'latitude': 44.9703,
 'longitude': 24.8336,
 'heading': 293,
 'altitude': 38000,
 'ground_speed': 471,
 'squawk': 'N/A',
 'aircraft_code': 'B789',
 'registration': 'HL8081',
 'time': 1661697704,
 'origin_airport_iata': 'ICN',
 'destination_airport_iata': 'AMS',
 'number': 'KE925',
 'airline_iata': 'KE',
 'on_ground': 0,
 'vertical_speed': -64,
 'callsign': 'KAL925',
 'airline_icao': 'KAL',
 'aircraft_age': 'N/A',
 'aircraft_country_id': 207,
 'aircraft_history': [{'identification': {'id': '2d3ac666',
    'number': {'default': 'KE486'}},
   'airport': {'origin': {'name': 'Da Nang International Airport',
     'code': {'iata': 'DAD', 'icao': 'VVDN'},
     'position': {'latitude': 16.043909,
      'longitude': 108.199303,
      'altitude': 33,
      'country': {'id': None, 'name': 'Vietnam', 'code': 'VNM'},
      'region': {'city': 'Da Nang'}},
     'timezone': {'name': 'Asia/Ho_Chi_Minh',
      'offset': 25200,
      'offsetHours': '7:00',
      'abbr': '+07',
      'abbrName': '',
      'isDst': False},
     'visible': True,
     'website': None},
    'destination': {'name': 'Seoul Incheon International Airport',
     'code': {'iata': 'ICN', 'icao': 'RKSI'},
     'position': {'latitude': 37.46907,
      'longitude': 126.4505,
      'altitude': 23,
      'country': {'id': None, 'name': 'South Korea', 'code': 'KOR'},
      'region': {'city': 'Seoul'}},
     'timezone': {'name': 'Asia/Seoul',
      'offset': 32400,
      'offsetHours': '9:00',
      'abbr': 'KST',
      'abbrName': 'Korea Standard Time',
      'isDst': False},
     'visible': True,
     'website': 'http://www.airport.kr/eng/'}},
   'time': {'real': {'departure': 1661589928}}},
  {'identification': {'id': '2d3a27e0', 'number': {'default': 'KE485'}},
   'airport': {'origin': {'name': 'Seoul Incheon International Airport',
     'code': {'iata': 'ICN', 'icao': 'RKSI'},
     'position': {'latitude': 37.46907,
      'longitude': 126.4505,
      'altitude': 23,
      'country': {'id': None, 'name': 'South Korea', 'code': 'KOR'},
      'region': {'city': 'Seoul'}},
     'timezone': {'name': 'Asia/Seoul',
      'offset': 32400,
      'offsetHours': '9:00',
      'abbr': 'KST',
      'abbrName': 'Korea Standard Time',
      'isDst': False},
     'visible': True,
     'website': 'http://www.airport.kr/eng/'},
    'destination': {'name': 'Da Nang International Airport',
     'code': {'iata': 'DAD', 'icao': 'VVDN'},
     'position': {'latitude': 16.043909,
      'longitude': 108.199303,
      'altitude': 33,
      'country': {'id': None, 'name': 'Vietnam', 'code': 'VNM'},
      'region': {'city': 'Da Nang'}},
     'timezone': {'name': 'Asia/Ho_Chi_Minh',
      'offset': 25200,
      'offsetHours': '7:00',
      'abbr': '+07',
      'abbrName': '',
      'isDst': False},
     'visible': True,
     'website': None}},
   'time': {'real': {'departure': 1661566752}}},
  {'identification': {'id': '2d39329f', 'number': {'default': 'KE612'}},
   'airport': {'origin': {'name': 'Hong Kong International Airport',
     'code': {'iata': 'HKG', 'icao': 'VHHH'},
     'position': {'latitude': 22.309616,
      'longitude': 113.916237,
      'altitude': 28,
      'country': {'id': None, 'name': 'Hong Kong', 'code': 'HKG'},
      'region': {'city': 'Hong Kong'}},
     'timezone': {'name': 'Asia/Hong_Kong',
      'offset': 28800,
      'offsetHours': '8:00',
      'abbr': 'HKT',
      'abbrName': 'Hong Kong Time',
      'isDst': False},
     'visible': True,
     'website': 'http://www.hongkongairport.com/eng/index.html'},
    'destination': {'name': 'Seoul Incheon International Airport',
     'code': {'iata': 'ICN', 'icao': 'RKSI'},
     'position': {'latitude': 37.46907,
      'longitude': 126.4505,
      'altitude': 23,
      'country': {'id': None, 'name': 'South Korea', 'code': 'KOR'},
      'region': {'city': 'Seoul'}},
     'timezone': {'name': 'Asia/Seoul',
      'offset': 32400,
      'offsetHours': '9:00',
      'abbr': 'KST',
      'abbrName': 'Korea Standard Time',
      'isDst': False},
     'visible': True,
     'website': 'http://www.airport.kr/eng/'}},
   'time': {'real': {'departure': 1661542440}}},
  {'identification': {'id': '2d37d6dd', 'number': {'default': 'KE611'}},
   'airport': {'origin': {'name': 'Seoul Incheon International Airport',
     'code': {'iata': 'ICN', 'icao': 'RKSI'},
     'position': {'latitude': 37.46907,
      'longitude': 126.4505,
      'altitude': 23,
      'country': {'id': None, 'name': 'South Korea', 'code': 'KOR'},
      'region': {'city': 'Seoul'}},
     'timezone': {'name': 'Asia/Seoul',
      'offset': 32400,
      'offsetHours': '9:00',
      'abbr': 'KST',
      'abbrName': 'Korea Standard Time',
      'isDst': False},
     'visible': True,
     'website': 'http://www.airport.kr/eng/'},
    'destination': {'name': 'Hong Kong International Airport',
     'code': {'iata': 'HKG', 'icao': 'VHHH'},
     'position': {'latitude': 22.309616,
      'longitude': 113.916237,
      'altitude': 28,
      'country': {'id': None, 'name': 'Hong Kong', 'code': 'HKG'},
      'region': {'city': 'Hong Kong'}},
     'timezone': {'name': 'Asia/Hong_Kong',
      'offset': 28800,
      'offsetHours': '8:00',
      'abbr': 'HKT',
      'abbrName': 'Hong Kong Time',
      'isDst': False},
     'visible': True,
     'website': 'http://www.hongkongairport.com/eng/index.html'}},
   'time': {'real': {'departure': 1661517040}}}],
 'aircraft_images': {'thumbnails': [{'src': 'https://cdn.jetphotos.com/200/6/24005_1659904722_tb.jpg?v=0',
    'link': 'https://www.jetphotos.com/photo/10677795',
    'copyright': 'Martin O.',
    'source': 'Jetphotos'},
   {'src': 'https://cdn.jetphotos.com/200/6/76525_1658668093_tb.jpg?v=0',
    'link': 'https://www.jetphotos.com/photo/10660394',
    'copyright': 'JuPiG Zhao',
    'source': 'Jetphotos'},
   {'src': 'https://cdn.jetphotos.com/200/6/73348_1654465231_tb.jpg?v=0',
    'link': 'https://www.jetphotos.com/photo/10609826',
    'copyright': 'dmvAviation',
    'source': 'Jetphotos'},
   {'src': 'https://cdn.jetphotos.com/200/6/33482_1650960311_tb.jpg?v=0',
    'link': 'https://www.jetphotos.com/photo/10571229',
    'copyright': 'Daniyar Atadjanov',
    'source': 'Jetphotos'},
   {'src': 'https://cdn.jetphotos.com/200/5/43142_1646192530_tb.jpg?v=0',
    'link': 'https://www.jetphotos.com/photo/10505654',
    'copyright': 'walker2000',
    'source': 'Jetphotos'}],
  'medium': [{'src': 'https://cdn.jetphotos.com/400/6/24005_1659904722.jpg?v=0',
    'link': 'https://www.jetphotos.com/photo/10677795',
    'copyright': 'Martin O.',
    'source': 'Jetphotos'},
   {'src': 'https://cdn.jetphotos.com/400/6/76525_1658668093.jpg?v=0',
    'link': 'https://www.jetphotos.com/photo/10660394',
    'copyright': 'JuPiG Zhao',
    'source': 'Jetphotos'},
   {'src': 'https://cdn.jetphotos.com/400/6/73348_1654465231.jpg?v=0',
    'link': 'https://www.jetphotos.com/photo/10609826',
    'copyright': 'dmvAviation',
    'source': 'Jetphotos'},
   {'src': 'https://cdn.jetphotos.com/400/6/33482_1650960311.jpg?v=0',
    'link': 'https://www.jetphotos.com/photo/10571229',
    'copyright': 'Daniyar Atadjanov',
    'source': 'Jetphotos'},
   {'src': 'https://cdn.jetphotos.com/400/5/43142_1646192530.jpg?v=0',
    'link': 'https://www.jetphotos.com/photo/10505654',
    'copyright': 'walker2000',
    'source': 'Jetphotos'}],
  'large': [{'src': 'https://cdn.jetphotos.com/640cb/6/24005_1659904722.jpg?v=0',
    'link': 'https://www.jetphotos.com/photo/10677795',
    'copyright': 'Martin O.',
    'source': 'Jetphotos'},
   {'src': 'https://cdn.jetphotos.com/640cb/6/76525_1658668093.jpg?v=0',
    'link': 'https://www.jetphotos.com/photo/10660394',
    'copyright': 'JuPiG Zhao',
    'source': 'Jetphotos'},
   {'src': 'https://cdn.jetphotos.com/640cb/6/73348_1654465231.jpg?v=0',
    'link': 'https://www.jetphotos.com/photo/10609826',
    'copyright': 'dmvAviation',
    'source': 'Jetphotos'},
   {'src': 'https://cdn.jetphotos.com/640cb/6/33482_1650960311.jpg?v=0',
    'link': 'https://www.jetphotos.com/photo/10571229',
    'copyright': 'Daniyar Atadjanov',
    'source': 'Jetphotos'},
   {'src': 'https://cdn.jetphotos.com/640cb/5/43142_1646192530.jpg?v=0',
    'link': 'https://www.jetphotos.com/photo/10505654',
    'copyright': 'walker2000',
    'source': 'Jetphotos'}]},
 'aircraft_model': 'Boeing 787-9 Dreamliner',
 'airline_name': 'Korean Air',
 'airline_short_name': 'Korean Air',
 'destination_airport_altitude': 11,
 'destination_airport_country_code': 'NL',
 'destination_airport_country_name': 'Netherlands',
 'destination_airport_latitude': 52.308609,
 'destination_airport_longitude': 4.763889,
 'destination_airport_icao': 'EHAM',
 'destination_airport_baggage': 'N/A',
 'destination_airport_gate': 'N/A',
 'destination_airport_name': 'Amsterdam Schiphol Airport',
 'destination_airport_terminal': 'N/A',
 'destination_airport_visible': True,
 'destination_airport_website': 'http://www.schiphol.nl/index_en.html',
 'destination_airport_timezone_abbr': 'CEST',
 'destination_airport_timezone_abbr_name': 'Central European Summer Time',
 'destination_airport_timezone_name': 'Europe/Amsterdam',
 'destination_airport_timezone_offset': 7200,
 'destination_airport_timezone_offsetHours': '2:00',
 'origin_airport_altitude': 23,
 'origin_airport_country_code': 'KOR',
 'origin_airport_country_name': 'South Korea',
 'origin_airport_latitude': 37.46907,
 'origin_airport_longitude': 126.4505,
 'origin_airport_icao': 'RKSI',
 'origin_airport_baggage': 'N/A',
 'origin_airport_gate': '267',
 'origin_airport_name': 'Seoul Incheon International Airport',
 'origin_airport_terminal': '2',
 'origin_airport_visible': True,
 'origin_airport_website': 'http://www.airport.kr/eng/',
 'origin_airport_timezone_abbr': 'KST',
 'origin_airport_timezone_abbr_name': 'Korea Standard Time',
 'origin_airport_timezone_name': 'Asia/Seoul',
 'origin_airport_timezone_offset': 32400,
 'origin_airport_timezone_offsetHours': '9:00',
 'status_icon': 'green',
 'status_text': 'Estimated- 18:46',
 'time_details': {'scheduled': {'departure': 1661656500,
   'arrival': 1661705700},
  'real': {'departure': 1661657832, 'arrival': None},
  'estimated': {'departure': None, 'arrival': 1661705216},
  'other': {'eta': 1661705216, 'updated': 1661697381},
  'historical': {'flighttime': '47375', 'delay': '-539'}},
 'trail': [{'lat': 44.98288,
   'lng': 24.793396,
   'alt': 37975,
   'spd': 472,
   'ts': 1661697721,
   'hd': 293},
  {'lat': 44.929333,
   'lng': 24.963751,
   'alt': 37975,
   'spd': 468,
   'ts': 1661697658,
   'hd': 293},
  {'lat': 44.874023,
   'lng': 25.138746,
   'alt': 37975,
   'spd': 468,
   'ts': 1661697595,
   'hd': 294},
  {'lat': 44.818073,
   'lng': 25.314175,
   'alt': 37975,
   'spd': 468,
   'ts': 1661697532,
   'hd': 294},
  {'lat': 44.764446,
   'lng': 25.481583,
   'alt': 37975,
   'spd': 468,
   'ts': 1661697471,
   'hd': 294},
  {'lat': 44.708084,
   'lng': 25.656084,
   'alt': 37975,
   'spd': 469,
   'ts': 1661697408,
   'hd': 294},
  {'lat': 44.650864,
   'lng': 25.832193,
   'alt': 38000,
   'spd': 470,
   'ts': 1661697345,
   'hd': 294},
  {'lat': 44.594513,
   'lng': 26.004574,
   'alt': 37975,
   'spd': 468,
   'ts': 1661697283,
   'hd': 294},
  {'lat': 44.53981,
   'lng': 26.170481,
   'alt': 38000,
   'spd': 470,
   'ts': 1661697222,
   'hd': 294},
  {'lat': 44.482246,
   'lng': 26.344143,
   'alt': 38000,
   'spd': 469,
   'ts': 1661697159,
   'hd': 294},
  {'lat': 44.425499,
   'lng': 26.514498,
   'alt': 37975,
   'spd': 470,
   'ts': 1661697097,
   'hd': 295},
  {'lat': 44.367496,
   'lng': 26.68693,
   'alt': 38000,
   'spd': 467,
   'ts': 1661697034,
   'hd': 295},
  {'lat': 44.31189,
   'lng': 26.851894,
   'alt': 38000,
   'spd': 466,
   'ts': 1661696973,
   'hd': 295},
  {'lat': 44.253113,
   'lng': 27.024536,
   'alt': 37975,
   'spd': 466,
   'ts': 1661696910,
   'hd': 295},
  {'lat': 44.194931,
   'lng': 27.194563,
   'alt': 38000,
   'spd': 464,
   'ts': 1661696847,
   'hd': 295},
  {'lat': 44.137295,
   'lng': 27.362169,
   'alt': 38000,
   'spd': 462,
   'ts': 1661696784,
   'hd': 295},
  {'lat': 44.078659,
   'lng': 27.53142,
   'alt': 37975,
   'spd': 462,
   'ts': 1661696721,
   'hd': 295},
  {'lat': 44.022125,
   'lng': 27.693394,
   'alt': 37975,
   'spd': 464,
   'ts': 1661696660,
   'hd': 295},
  {'lat': 43.963001,
   'lng': 27.862179,
   'alt': 38000,
   'spd': 466,
   'ts': 1661696597,
   'hd': 295},
  {'lat': 43.904388,
   'lng': 28.028231,
   'alt': 37975,
   'spd': 470,
   'ts': 1661696534,
   'hd': 296},
  {'lat': 43.816269,
   'lng': 28.275934,
   'alt': 37975,
   'spd': 470,
   'ts': 1661696443,
   'hd': 296},
  {'lat': 43.755432,
   'lng': 28.445711,
   'alt': 37975,
   'spd': 471,
   'ts': 1661696380,
   'hd': 297},
  {'lat': 43.677246,
   'lng': 28.595367,
   'alt': 37975,
   'spd': 480,
   'ts': 1661696319,
   'hd': 310},
  {'lat': 43.585739,
   'lng': 28.741959,
   'alt': 37975,
   'spd': 480,
   'ts': 1661696256,
   'hd': 310},
  {'lat': 43.493866,
   'lng': 28.889124,
   'alt': 38000,
   'spd': 478,
   'ts': 1661696193,
   'hd': 310},
  {'lat': 43.404701,
   'lng': 29.030979,
   'alt': 37975,
   'spd': 480,
   'ts': 1661696130,
   'hd': 310},
  {'lat': 43.314297,
   'lng': 29.174063,
   'alt': 37975,
   'spd': 480,
   'ts': 1661696068,
   'hd': 310},
  {'lat': 43.219528,
   'lng': 29.323212,
   'alt': 38000,
   'spd': 484,
   'ts': 1661696005,
   'hd': 311},
  {'lat': 43.131718,
   'lng': 29.461016,
   'alt': 38000,
   'spd': 482,
   'ts': 1661695944,
   'hd': 311},
  {'lat': 43.040131,
   'lng': 29.603811,
   'alt': 37975,
   'spd': 479,
   'ts': 1661695881,
   'hd': 311},
  {'lat': 42.945602,
   'lng': 29.750519,
   'alt': 38000,
   'spd': 478,
   'ts': 1661695817,
   'hd': 311},
  {'lat': 42.853455,
   'lng': 29.892969,
   'alt': 38000,
   'spd': 480,
   'ts': 1661695754,
   'hd': 311},
  {'lat': 42.764469,
   'lng': 30.029404,
   'alt': 37975,
   'spd': 483,
   'ts': 1661695694,
   'hd': 311},
  {'lat': 42.671036,
   'lng': 30.172264,
   'alt': 37975,
   'spd': 483,
   'ts': 1661695631,
   'hd': 311},
  {'lat': 42.668655,
   'lng': 30.175886,
   'alt': 37975,
   'spd': 482,
   'ts': 1661695628,
   'hd': 311},
  {'lat': 42.6633,
   'lng': 30.184,
   'alt': 37975,
   'spd': 482,
   'ts': 1661695625,
   'hd': 312},
  {'lat': 42.659088,
   'lng': 30.190306,
   'alt': 37975,
   'spd': 482,
   'ts': 1661695622,
   'hd': 312},
  {'lat': 42.655197,
   'lng': 30.19611,
   'alt': 37975,
   'spd': 482,
   'ts': 1661695619,
   'hd': 312},
  {'lat': 42.650391,
   'lng': 30.203289,
   'alt': 37975,
   'spd': 482,
   'ts': 1661695616,
   'hd': 311},
  {'lat': 42.643852,
   'lng': 30.213488,
   'alt': 38000,
   'spd': 480,
   'ts': 1661695613,
   'hd': 310},
  {'lat': 42.641739,
   'lng': 30.217022,
   'alt': 37975,
   'spd': 478,
   'ts': 1661695610,
   'hd': 308},
  {'lat': 42.637161,
   'lng': 30.225075,
   'alt': 38000,
   'spd': 477,
   'ts': 1661695607,
   'hd': 306},
  {'lat': 42.633701,
   'lng': 30.231691,
   'alt': 37975,
   'spd': 476,
   'ts': 1661695604,
   'hd': 304},
  {'lat': 42.629517,
   'lng': 30.240368,
   'alt': 37975,
   'spd': 474,
   'ts': 1661695601,
   'hd': 301},
  {'lat': 42.62672,
   'lng': 30.246767,
   'alt': 38000,
   'spd': 472,
   'ts': 1661695598,
   'hd': 299},
  {'lat': 42.623508,
   'lng': 30.254496,
   'alt': 37975,
   'spd': 472,
   'ts': 1661695595,
   'hd': 297},
  {'lat': 42.619411,
   'lng': 30.265545,
   'alt': 37975,
   'spd': 469,
   'ts': 1661695592,
   'hd': 295},
  {'lat': 42.616108,
   'lng': 30.275764,
   'alt': 37975,
   'spd': 468,
   'ts': 1661695588,
   'hd': 290},
  {'lat': 42.614475,
   'lng': 30.281195,
   'alt': 38000,
   'spd': 465,
   'ts': 1661695585,
   'hd': 288},
  {'lat': 42.61235,
   'lng': 30.28912,
   'alt': 37975,
   'spd': 465,
   'ts': 1661695582,
   'hd': 288},
  {'lat': 42.61108,
   'lng': 30.294416,
   'alt': 38000,
   'spd': 466,
   'ts': 1661695581,
   'hd': 288},
  {'lat': 42.609821,
   'lng': 30.299974,
   'alt': 38000,
   'spd': 464,
   'ts': 1661695578,
   'hd': 286},
  {'lat': 42.595486,
   'lng': 30.435259,
   'alt': 38000,
   'spd': 458,
   'ts': 1661695530,
   'hd': 277},
  {'lat': 42.579941,
   'lng': 30.607347,
   'alt': 38000,
   'spd': 457,
   'ts': 1661695470,
   'hd': 276},
  {'lat': 42.563736,
   'lng': 30.785416,
   'alt': 38000,
   'spd': 455,
   'ts': 1661695407,
   'hd': 277},
  {'lat': 42.547581,
   'lng': 30.95826,
   'alt': 38000,
   'spd': 455,
   'ts': 1661695346,
   'hd': 277},
  {'lat': 42.530548,
   'lng': 31.138,
   'alt': 38000,
   'spd': 458,
   'ts': 1661695283,
   'hd': 277},
  {'lat': 42.513737,
   'lng': 31.313463,
   'alt': 37975,
   'spd': 458,
   'ts': 1661695221,
   'hd': 277},
  {'lat': 42.496078,
   'lng': 31.491997,
   'alt': 38000,
   'spd': 458,
   'ts': 1661695158,
   'hd': 277},
  {'lat': 42.478405,
   'lng': 31.670774,
   'alt': 38000,
   'spd': 453,
   'ts': 1661695094,
   'hd': 277},
  {'lat': 42.460342,
   'lng': 31.848919,
   'alt': 37975,
   'spd': 454,
   'ts': 1661695031,
   'hd': 277},
  {'lat': 42.442703,
   'lng': 32.020401,
   'alt': 38000,
   'spd': 458,
   'ts': 1661694970,
   'hd': 278},
  {'lat': 42.423939,
   'lng': 32.19978,
   'alt': 38000,
   'spd': 460,
   'ts': 1661694907,
   'hd': 278},
  {'lat': 42.404991,
   'lng': 32.3792,
   'alt': 37975,
   'spd': 459,
   'ts': 1661694843,
   'hd': 278},
  {'lat': 42.386581,
   'lng': 32.550369,
   'alt': 37975,
   'spd': 458,
   'ts': 1661694783,
   'hd': 278},
  {'lat': 42.368042,
   'lng': 32.720966,
   'alt': 38000,
   'spd': 455,
   'ts': 1661694722,
   'hd': 278},
  {'lat': 42.348476,
   'lng': 32.8969,
   'alt': 38000,
   'spd': 458,
   'ts': 1661694660,
   'hd': 278},
  {'lat': 42.328552,
   'lng': 33.074467,
   'alt': 38000,
   'spd': 453,
   'ts': 1661694597,
   'hd': 278},
  {'lat': 42.309357,
   'lng': 33.242508,
   'alt': 38000,
   'spd': 450,
   'ts': 1661694536,
   'hd': 278},
  {'lat': 42.289169,
   'lng': 33.417789,
   'alt': 37975,
   'spd': 444,
   'ts': 1661694473,
   'hd': 278},
  {'lat': 42.269073,
   'lng': 33.589199,
   'alt': 37975,
   'spd': 445,
   'ts': 1661694410,
   'hd': 279},
  {'lat': 42.249481,
   'lng': 33.754745,
   'alt': 38000,
   'spd': 444,
   'ts': 1661694349,
   'hd': 279},
  {'lat': 42.228699,
   'lng': 33.928017,
   'alt': 38000,
   'spd': 444,
   'ts': 1661694286,
   'hd': 279},
  {'lat': 42.208496,
   'lng': 34.093704,
   'alt': 38000,
   'spd': 445,
   'ts': 1661694225,
   'hd': 279},
  {'lat': 42.186951,
   'lng': 34.268478,
   'alt': 37975,
   'spd': 444,
   'ts': 1661694162,
   'hd': 279},
  {'lat': 42.166031,
   'lng': 34.436272,
   'alt': 37975,
   'spd': 441,
   'ts': 1661694100,
   'hd': 279},
  {'lat': 42.144287,
   'lng': 34.608059,
   'alt': 37975,
   'spd': 437,
   'ts': 1661694036,
   'hd': 279},
  {'lat': 42.122681,
   'lng': 34.776783,
   'alt': 38000,
   'spd': 442,
   'ts': 1661693973,
   'hd': 279},
  {'lat': 42.100616,
   'lng': 34.947758,
   'alt': 37975,
   'spd': 438,
   'ts': 1661693909,
   'hd': 279},
  {'lat': 42.079468,
   'lng': 35.109119,
   'alt': 37975,
   'spd': 439,
   'ts': 1661693849,
   'hd': 280},
  {'lat': 42.057678,
   'lng': 35.273418,
   'alt': 38000,
   'spd': 440,
   'ts': 1661693788,
   'hd': 280},
  {'lat': 42.034607,
   'lng': 35.444828,
   'alt': 38000,
   'spd': 442,
   'ts': 1661693725,
   'hd': 280},
  {'lat': 42.011395,
   'lng': 35.61544,
   'alt': 37975,
   'spd': 442,
   'ts': 1661693661,
   'hd': 280},
  {'lat': 41.98914,
   'lng': 35.778065,
   'alt': 37975,
   'spd': 444,
   'ts': 1661693601,
   'hd': 280},
  {'lat': 41.965485,
   'lng': 35.9487,
   'alt': 38000,
   'spd': 440,
   'ts': 1661693538,
   'hd': 280},
  {'lat': 41.942448,
   'lng': 36.112381,
   'alt': 38000,
   'spd': 441,
   'ts': 1661693477,
   'hd': 280},
  {'lat': 41.918289,
   'lng': 36.282604,
   'alt': 38000,
   'spd': 441,
   'ts': 1661693413,
   'hd': 280},
  {'lat': 41.894966,
   'lng': 36.444908,
   'alt': 37975,
   'spd': 441,
   'ts': 1661693353,
   'hd': 280},

In [135]:
wanted_keys = ['id', 'aircraft_code', 'aircraft_model', 'airline_name', 'destination_airport_country_name',
               'destination_airport_latitude', 'destination_airport_longitude', 'destination_airport_icao',
               'origin_airport_country_name', 'origin_airport_latitude', 'origin_airport_longitude',
               'origin_airport_icao', 'time_details', 'status_text', 'airline_icao', 'aircraft_country_id']
final_flights = [{k: v for k, v in flight.__dict__.items() if k in wanted_keys} for flight in flights]

In [136]:
flights_df = pd.DataFrame(data=final_flights)

In [137]:
flights_df.head(10)

,id,aircraft_code,airline_icao,aircraft_country_id,aircraft_model,airline_name,destination_airport_country_name,destination_airport_latitude,destination_airport_longitude,destination_airport_icao,origin_airport_country_name,origin_airport_latitude,origin_airport_longitude,origin_airport_icao,status_text,time_details
0,2d378c5c,GLID,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,Scheduled,"{'scheduled': {'departure': None, 'arrival': N..."
1,2d386f15,BALL,N/A,236,High Altitude Balloon,Private owner,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,Scheduled,"{'scheduled': {'departure': 0, 'arrival': 0}, ..."
2,2d3870a8,BALL,N/A,236,Balloon,Private owner,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,Scheduled,"{'scheduled': {'departure': 0, 'arrival': 0}, ..."
3,2d38793e,GRND,N/A,55,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,Scheduled,"{'scheduled': {'departure': None, 'arrival': N..."
4,2d38798e,GRND,N/A,0,Ground Vehicle,EVN Airport,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,Scheduled,"{'scheduled': {'departure': None, 'arrival': N..."
5,2d387a5f,GLID,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,Scheduled,"{'scheduled': {'departure': None, 'arrival': N..."
6,2d387c8c,GLID,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,Scheduled,"{'scheduled': {'departure': None, 'arrival': N..."
7,2d387fcc,GLID,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,Scheduled,"{'scheduled': {'departure': None, 'arrival': N..."
8,2d3a947a,GRND,N/A,182,Airport Ground Vehicle,DME Airport,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,Scheduled,"{'scheduled': {'departure': None, 'arrival': N..."
9,2d3ac6d3,GLID,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,Scheduled,"{'scheduled': {'departure': None, 'arrival': N..."

In [138]:
official_flights = flights_df.loc[flights_df['airline_icao'] != 'N/A']

In [139]:
official_flights.head()

,id,aircraft_code,airline_icao,aircraft_country_id,aircraft_model,airline_name,destination_airport_country_name,destination_airport_latitude,destination_airport_longitude,destination_airport_icao,origin_airport_country_name,origin_airport_latitude,origin_airport_longitude,origin_airport_icao,status_text,time_details
12,2d3c2b17,B763,FDX,236,Boeing 767-3S2F,FedEx,N/A,N/A,N/A,N/A,United States,35.042412,-89.976601,KMEM,Scheduled,"{'scheduled': {'departure': 0, 'arrival': 0}, ..."
14,2d3c8b69,A321,ACA,40,Airbus A321-211,Air Canada,N/A,N/A,N/A,N/A,Canada,46.362202,-72.675591,CYRQ,Unknown,"{'scheduled': {'departure': 0, 'arrival': 0}, ..."
17,2d3cfb97,BCS3,ACA,40,Airbus A220-300,Air Canada,United States,40.78838,-111.976997,KSLC,Canada,43.680634,-79.627007,CYYZ,Landed 20:50,"{'scheduled': {'departure': 1661637300, 'arriv..."
18,2d3d0b38,B77L,QTR,179,Boeing 777-2DZ(LR),Qatar Airways,United States,32.89682,-97.037903,KDFW,Qatar,25.272524,51.608604,OTHH,Landed 09:38,"{'scheduled': {'departure': 1661640000, 'arriv..."
19,2d3d0eda,B77L,UAE,234,Boeing 777-21H(LR),Emirates,United States,32.89682,-97.037903,KDFW,United Arab Emirates,25.252769,55.364441,OMDB,Delayed 09:43,"{'scheduled': {'departure': 1661640600, 'arriv..."

### For future questions, we will add the continents names

In [140]:
unknown_to_continent = {
    "Cote D'ivoire (Ivory Coast)" : "AF",
    "Myanmar (Burma)": "AS",
    "Antigua And Barbuda": "NA",
    "Saint Helena": "AF",
    "Bosnia And Herzegovina": "EU",
    "Saint Kitts And Nevis": "NA",
    "Democratic Republic Of The Congo": "AF",
    "Saint Vincent And The Grenadines": "AN",
    "Antarctica": "ANT",
    "Timor-Leste (East Timor)": "AS",
    "Wallis And Futuna": "OC",
    "Turks And Caicos Islands": "NA",
    "Trinidad And Tobago": "SA",
    "Kosovo": "EU",
    "Reunion": "AF",
    "Saint Pierre And Miquelon": "NA",
    "Sao Tome And Principe": "AF",
    "Virgin Islands, Us": "NA",
    "United States Minor Outlying Islands": "NA",
    "Curacao": "SA"
}

def continents(country):
    try:
        return pc.country_alpha2_to_continent_code(pc.country_name_to_country_alpha2(country))
    except KeyError:
        if country in unknown_to_continent.keys():
            return unknown_to_continent[country]
        else:
            return 'Unknown'

In [141]:
official_flights['origin_continent'] = official_flights['origin_airport_country_name'].apply(lambda x: continents(str(x)))
official_flights['destination_continent'] = official_flights['destination_airport_country_name'].apply(lambda x: continents(str(x)))

/tmp/ipykernel_646128/2613344710.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  official_flights['origin_continent'] = official_flights['origin_airport_country_name'].apply(lambda x: continents(str(x)))
/tmp/ipykernel_646128/2613344710.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  official_flights['destination_continent'] = official_flights['destination_airport_country_name'].apply(lambda x: continents(str(x)))

### We will also add a way to know if a flight is regional or not

In [142]:
official_flights['regional'] = official_flights['origin_continent'] == official_flights['destination_continent']

/tmp/ipykernel_646128/2798312429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  official_flights['regional'] = official_flights['origin_continent'] == official_flights['destination_continent']

In [143]:
official_flights.head()

,id,aircraft_code,airline_icao,aircraft_country_id,aircraft_model,airline_name,destination_airport_country_name,destination_airport_latitude,destination_airport_longitude,destination_airport_icao,origin_airport_country_name,origin_airport_latitude,origin_airport_longitude,origin_airport_icao,status_text,time_details,origin_continent,destination_continent,regional
12,2d3c2b17,B763,FDX,236,Boeing 767-3S2F,FedEx,N/A,N/A,N/A,N/A,United States,35.042412,-89.976601,KMEM,Scheduled,"{'scheduled': {'departure': 0, 'arrival': 0}, ...",NA,Unknown,False
14,2d3c8b69,A321,ACA,40,Airbus A321-211,Air Canada,N/A,N/A,N/A,N/A,Canada,46.362202,-72.675591,CYRQ,Unknown,"{'scheduled': {'departure': 0, 'arrival': 0}, ...",NA,Unknown,False
17,2d3cfb97,BCS3,ACA,40,Airbus A220-300,Air Canada,United States,40.78838,-111.976997,KSLC,Canada,43.680634,-79.627007,CYYZ,Landed 20:50,"{'scheduled': {'departure': 1661637300, 'arriv...",NA,NA,True
18,2d3d0b38,B77L,QTR,179,Boeing 777-2DZ(LR),Qatar Airways,United States,32.89682,-97.037903,KDFW,Qatar,25.272524,51.608604,OTHH,Landed 09:38,"{'scheduled': {'departure': 1661640000, 'arriv...",AS,NA,False
19,2d3d0eda,B77L,UAE,234,Boeing 777-21H(LR),Emirates,United States,32.89682,-97.037903,KDFW,United Arab Emirates,25.252769,55.364441,OMDB,Delayed 09:43,"{'scheduled': {'departure': 1661640600, 'arriv...",AS,NA,False

### We will also add the distances

In [144]:
def calculate_distances(x_lat, x_lon, y_lat, y_lon):
    try:
        return distance.distance((x_lat, x_lon), (y_lat, y_lon)).km
    except Exception:
        return 0

In [145]:
official_flights['flight_distance'] = official_flights.apply(lambda x : calculate_distances(
    x['origin_airport_latitude'],
    x['origin_airport_longitude'],
    x['destination_airport_latitude'],
    x['destination_airport_longitude']), axis=1)

/tmp/ipykernel_646128/1736364439.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  official_flights['flight_distance'] = official_flights.apply(lambda x : calculate_distances(

In [146]:
official_flights.head()

,id,aircraft_code,airline_icao,aircraft_country_id,aircraft_model,airline_name,destination_airport_country_name,destination_airport_latitude,destination_airport_longitude,destination_airport_icao,origin_airport_country_name,origin_airport_latitude,origin_airport_longitude,origin_airport_icao,status_text,time_details,origin_continent,destination_continent,regional,flight_distance
12,2d3c2b17,B763,FDX,236,Boeing 767-3S2F,FedEx,N/A,N/A,N/A,N/A,United States,35.042412,-89.976601,KMEM,Scheduled,"{'scheduled': {'departure': 0, 'arrival': 0}, ...",NA,Unknown,False,0.000000
14,2d3c8b69,A321,ACA,40,Airbus A321-211,Air Canada,N/A,N/A,N/A,N/A,Canada,46.362202,-72.675591,CYRQ,Unknown,"{'scheduled': {'departure': 0, 'arrival': 0}, ...",NA,Unknown,False,0.000000
17,2d3cfb97,BCS3,ACA,40,Airbus A220-300,Air Canada,United States,40.78838,-111.976997,KSLC,Canada,43.680634,-79.627007,CYYZ,Landed 20:50,"{'scheduled': {'departure': 1661637300, 'arriv...",NA,NA,True,2672.466803
18,2d3d0b38,B77L,QTR,179,Boeing 777-2DZ(LR),Qatar Airways,United States,32.89682,-97.037903,KDFW,Qatar,25.272524,51.608604,OTHH,Landed 09:38,"{'scheduled': {'departure': 1661640000, 'arriv...",AS,NA,False,12765.001590
19,2d3d0eda,B77L,UAE,234,Boeing 777-21H(LR),Emirates,United States,32.89682,-97.037903,KDFW,United Arab Emirates,25.252769,55.364441,OMDB,Delayed 09:43,"{'scheduled': {'departure': 1661640600, 'arriv...",AS,NA,False,12939.579079

### I want to get rid of the hour in the status column

In [147]:
official_flights['status_text'] = official_flights['status_text'].apply(lambda x : re.sub('[^a-zA-Z]+', '', str(x)))

/tmp/ipykernel_646128/2771319458.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  official_flights['status_text'] = official_flights['status_text'].apply(lambda x : re.sub('[^a-zA-Z]+', '', str(x)))

In [148]:
official_flights.head()

,id,aircraft_code,airline_icao,aircraft_country_id,aircraft_model,airline_name,destination_airport_country_name,destination_airport_latitude,destination_airport_longitude,destination_airport_icao,origin_airport_country_name,origin_airport_latitude,origin_airport_longitude,origin_airport_icao,status_text,time_details,origin_continent,destination_continent,regional,flight_distance
12,2d3c2b17,B763,FDX,236,Boeing 767-3S2F,FedEx,N/A,N/A,N/A,N/A,United States,35.042412,-89.976601,KMEM,Scheduled,"{'scheduled': {'departure': 0, 'arrival': 0}, ...",NA,Unknown,False,0.000000
14,2d3c8b69,A321,ACA,40,Airbus A321-211,Air Canada,N/A,N/A,N/A,N/A,Canada,46.362202,-72.675591,CYRQ,Unknown,"{'scheduled': {'departure': 0, 'arrival': 0}, ...",NA,Unknown,False,0.000000
17,2d3cfb97,BCS3,ACA,40,Airbus A220-300,Air Canada,United States,40.78838,-111.976997,KSLC,Canada,43.680634,-79.627007,CYYZ,Landed,"{'scheduled': {'departure': 1661637300, 'arriv...",NA,NA,True,2672.466803
18,2d3d0b38,B77L,QTR,179,Boeing 777-2DZ(LR),Qatar Airways,United States,32.89682,-97.037903,KDFW,Qatar,25.272524,51.608604,OTHH,Landed,"{'scheduled': {'departure': 1661640000, 'arriv...",AS,NA,False,12765.001590
19,2d3d0eda,B77L,UAE,234,Boeing 777-21H(LR),Emirates,United States,32.89682,-97.037903,KDFW,United Arab Emirates,25.252769,55.364441,OMDB,Delayed,"{'scheduled': {'departure': 1661640600, 'arriv...",AS,NA,False,12939.579079

In [149]:
official_flights.groupby('status_text')['id'].count()

status_text
Delayed          143
DivertedtoFCO      1
Estimated        674
Landed            66
Scheduled         23
Unknown            9
nan                3
Name: id, dtype: int64

In [150]:
official_flights.shape

(919, 20)

### Now that the data seems to be good, we can answer

## - Q1: What is the company with the most active flights in the world ?

### Due to lack of definition, I will consider an active flight as a Flight having an airline associated, so the Flights in the 'official_flights' DataFrame

In [151]:
official_flights.columns

Index(['id', 'aircraft_code', 'airline_icao', 'aircraft_country_id',
       'aircraft_model', 'airline_name', 'destination_airport_country_name',
       'destination_airport_latitude', 'destination_airport_longitude',
       'destination_airport_icao', 'origin_airport_country_name',
       'origin_airport_latitude', 'origin_airport_longitude',
       'origin_airport_icao', 'status_text', 'time_details',
       'origin_continent', 'destination_continent', 'regional',
       'flight_distance'],
      dtype='object')

In [152]:
official_flights.groupby(['airline_name'], as_index=False)['id'].count().sort_values('id', ascending=False).iloc[0]

airline_name    Delta Air Lines
id                           53
Name: 67, dtype: object

In [153]:
official_flights.groupby(['airline_icao'], as_index=False)['id'].count().sort_values('id', ascending=False).iloc[0]

airline_icao    UAL
id               57
Name: 143, dtype: object

### Counting by airline name, Delta Airline has the most active flights. However, counting by airline icao, United Airlines has the most active flights

## - Q2: By continent, what are the companies with the most regional active flights (airports of Origin & Destination within the same continent) ?

In [154]:
most_regionnal_flights = official_flights.groupby(['origin_continent', 'airline_icao', 'airline_name'], as_index=False)['regional'].sum().sort_values('regional', ascending=False)
most_regionnal_flights.drop_duplicates(subset=['origin_continent'])

    origin_continent airline_icao        airline_name  regional
255               NA          JBU     JetBlue Airways        18
75                AS          LNI            Lion Air         6
189               EU          SBI         S7 Airlines         4
299               SA          AVA             Avianca         2
315          Unknown          SHW      KN Helicopters         1
289               OC          QFA              Qantas         1
4                 AF          ETH  Ethiopian Airlines         1

### The companies having the most regional active flights can be found in the 'airline_name' column

## - Q3: World-wide, Which active flight has the longest route ?

In [155]:
official_flights.iloc[official_flights['flight_distance'].idxmax()]

id                                                                           2d3d7ab5
aircraft_code                                                                    B789
airline_icao                                                                      ANZ
aircraft_country_id                                                               157
aircraft_model                                                Boeing 787-9 Dreamliner
airline_name                                                          Air New Zealand
destination_airport_country_name                                          New Zealand
destination_airport_latitude                                               -37.007999
destination_airport_longitude                                              174.791595
destination_airport_icao                                                         NZAA
origin_airport_country_name                                             United States
origin_airport_latitude                                                      29.98443
origin_airport_longitude                                                     -95.3414
origin_airport_icao                                                              KIAH
status_text                                                                 Estimated
time_details                        {'scheduled': {'departure': 1661655300, 'arriv...
origin_continent                                                                   NA
destination_continent                                                              OC
regional                                                                        False
flight_distance                                                          11933.371612
Name: 99, dtype: object

### This flight between Oceania and North America has the longest route, with 11 933km.

## - Q4: By continent, what is the average route distance ? (flight localization by airport of origin)

In [156]:
official_flights.groupby(['origin_continent'])['flight_distance'].mean()

origin_continent
AF         6265.529929
AS         8405.238321
EU         6692.933365
NA         8156.040380
OC         7484.106334
SA         6957.998859
Unknown       0.000000
Name: flight_distance, dtype: float64

### Here are the average flight distances for each continent

## - Q5.1: Which leading airplane manufacturer has the most active flights in the world ?

In [157]:
official_flights.groupby(['aircraft_code', 'aircraft_model'], as_index=False)['id'].count().sort_values('id', ascending=False).iloc[:10]

    aircraft_code           aircraft_model   id
167          B789  Boeing 787-9 Dreamliner  130
30           A359          Airbus A350-941   64
165          B788  Boeing 787-8 Dreamliner   56
25           A333          Airbus A330-343   39
115          B77L             Boeing 777-F   21
31           A35K         Airbus A350-1041   21
27           A339          Airbus A330-941   20
157          B77W       Boeing 777-3DZ(ER)   16
12           A321          Airbus A321-231   16
106          B772       Boeing 777-223(ER)   15

### According to the top ten most seen aircrafts, we see that Boeing is the airplane manufacturer for 238 active flight, whereas Airbus is for 161. So I would say that Boeing has the most.

## - Q5.2: By continent, what is the most frequent airplane model ? (airplane localization by airport of origin)

In [158]:
aircrafts_codes_by_continent = official_flights.groupby(['origin_continent', 'aircraft_code'], as_index=False)['id'].count().sort_values('id', ascending=False)
aircrafts_codes_by_continent.drop_duplicates(subset=['origin_continent'])

    origin_continent aircraft_code  id
28                AS          B77W  59
42                EU          A333  44
96                NA          B77W  34
117               OC          B789  11
7                 AF          B788   6
118               SA          A20N   3
133          Unknown          B77W   1

In [159]:
aircrafts_models_by_continent = official_flights.groupby(['origin_continent', 'aircraft_model'], as_index=False)['id'].count().sort_values('id', ascending=False)
aircrafts_models_by_continent.drop_duplicates(subset=['origin_continent'])

    origin_continent           aircraft_model  id
88                AS  Boeing 787-9 Dreamliner  51
184               EU  Boeing 787-9 Dreamliner  41
279               NA  Boeing 787-9 Dreamliner  23
301               OC  Boeing 787-9 Dreamliner  10
12                AF  Boeing 787-8 Dreamliner   6
315               SA  Boeing 787-9 Dreamliner   3
318          Unknown  Britten-Norman Islander   1

### As one aircraft code can be used for multiple aircraft models, I answered with both. It is interesting to see the big difference, as the models is always the boeing, but when looking at the codes, we see some differences.

## - Q6: By company registration country, what are the tops 3 airplanes model flying ?

#### There is an aircraft country id, and I will assume that this is the company registration country. Sadly, I found no way to associate this ID to a country name, neither in the flightRadar24API code, nor in a python library.

In [160]:
official_flights.head()

,id,aircraft_code,airline_icao,aircraft_country_id,aircraft_model,airline_name,destination_airport_country_name,destination_airport_latitude,destination_airport_longitude,destination_airport_icao,origin_airport_country_name,origin_airport_latitude,origin_airport_longitude,origin_airport_icao,status_text,time_details,origin_continent,destination_continent,regional,flight_distance
12,2d3c2b17,B763,FDX,236,Boeing 767-3S2F,FedEx,N/A,N/A,N/A,N/A,United States,35.042412,-89.976601,KMEM,Scheduled,"{'scheduled': {'departure': 0, 'arrival': 0}, ...",NA,Unknown,False,0.000000
14,2d3c8b69,A321,ACA,40,Airbus A321-211,Air Canada,N/A,N/A,N/A,N/A,Canada,46.362202,-72.675591,CYRQ,Unknown,"{'scheduled': {'departure': 0, 'arrival': 0}, ...",NA,Unknown,False,0.000000
17,2d3cfb97,BCS3,ACA,40,Airbus A220-300,Air Canada,United States,40.78838,-111.976997,KSLC,Canada,43.680634,-79.627007,CYYZ,Landed,"{'scheduled': {'departure': 1661637300, 'arriv...",NA,NA,True,2672.466803
18,2d3d0b38,B77L,QTR,179,Boeing 777-2DZ(LR),Qatar Airways,United States,32.89682,-97.037903,KDFW,Qatar,25.272524,51.608604,OTHH,Landed,"{'scheduled': {'departure': 1661640000, 'arriv...",AS,NA,False,12765.001590
19,2d3d0eda,B77L,UAE,234,Boeing 777-21H(LR),Emirates,United States,32.89682,-97.037903,KDFW,United Arab Emirates,25.252769,55.364441,OMDB,Delayed,"{'scheduled': {'departure': 1661640600, 'arriv...",AS,NA,False,12939.579079

In [185]:
aircraft_by_countries = official_flights.groupby(['aircraft_country_id', 'aircraft_model'], as_index=False)['id'].count().sort_values(['aircraft_country_id', 'id'], ascending=[True,False])

In [195]:
aircraft_by_countries.groupby('aircraft_country_id').nth([0,1,2]).head(45)

                              aircraft_model  id
aircraft_country_id
0                            Airbus A350-941   1
0                    Boeing 767-304(ER)(BCF)   1
0                    Boeing 787-9 Dreamliner   1
4                            Airbus A330-202   1
11                           Airbus A330-202   1
11                          Boeing 737 MAX 8   1
14                   Boeing 787-9 Dreamliner   8
14                           Airbus A330-202   2
14                   Boeing 787-8 Dreamliner   2
15                        Boeing 777-2Z9(ER)   3
15                        Boeing 767-3Z9(ER)   2
15                       Boeing 747-4B5F(ER)   1
16                           Gulfstream G280   1
18                         Airbus A321-253NX   2
18                   Boeing 787-9 Dreamliner   1
19                   Boeing 787-9 Dreamliner   2
19                   Boeing 787-8 Dreamliner   1
22                           Airbus A330-343   3
22                           Airbus A330-342   2
22                          Airbus A330-243F   1
25                           Boeing 747-83QF   1
32                           Airbus A330-941   1
32                       Boeing 767-316F(ER)   1
32                   Boeing 787-9 Dreamliner   1
35                           Airbus A320-231   1
40                   Boeing 787-9 Dreamliner  13
40                         Airbus A321-271NX   4
40                           Airbus A330-243   4
45                   Boeing 787-9 Dreamliner   2
45                          Airbus A320-271N   1
45                   Boeing 767-316(ER)(BCF)   1
46                   Boeing 787-9 Dreamliner   8
46                           Airbus A330-343   6
46                        Boeing 777-39P(ER)   5
49                          Airbus A320-251N   1
59                            Boeing 737-86N   1
61                   Airbus Helicopters H145   1
66                      Airbus A330-243(P2F)   1
66                        Boeing 777-36N(ER)   1
71                   Boeing 787-8 Dreamliner   3
71                              Boeing 777-F   1
71                            Boeing 777-F60   1
74                           Airbus A330-243   1
74                           Airbus A330-343   1
75                           Airbus A350-941   2

#### The DataFrame contains the 3 most popular aircraft models by country id.

## - Q7.1: By continent, what airport is the most popular destination ?

In [200]:
flights_with_destination_airport_name = pd.merge(official_flights, airports_df[['name', 'icao']], right_on='icao', left_on='destination_airport_icao')

In [201]:
flights_with_destination_airport_name.head()

,id,aircraft_code,airline_icao,aircraft_country_id,aircraft_model,airline_name,destination_airport_country_name,destination_airport_latitude,destination_airport_longitude,destination_airport_icao,...,origin_airport_longitude,origin_airport_icao,status_text,time_details,origin_continent,destination_continent,regional,flight_distance,name,icao
0,2d3cfb97,BCS3,ACA,40,Airbus A220-300,Air Canada,United States,40.78838,-111.976997,KSLC,...,-79.627007,CYYZ,Landed,"{'scheduled': {'departure': 1661637300, 'arriv...",NA,NA,True,2672.466803,Salt Lake City International Airport,KSLC
1,2d3db668,A339,DAL,236,Airbus A330-941,Delta Air Lines,United States,40.78838,-111.976997,KSLC,...,2.555752,LFPG,Estimated,"{'scheduled': {'departure': 1661674200, 'arriv...",EU,NA,False,8175.419759,Salt Lake City International Airport,KSLC
2,2d3df3ff,A339,DAL,236,Airbus A330-941,Delta Air Lines,United States,40.78838,-111.976997,KSLC,...,4.763889,EHAM,Estimated,"{'scheduled': {'departure': 1661674500, 'arriv...",EU,NA,False,8030.485073,Salt Lake City International Airport,KSLC
3,2d3e1d04,A320,JBU,236,Airbus A320-232,JetBlue Airways,United States,40.78838,-111.976997,KSLC,...,-81.308899,KMCO,Estimated,"{'scheduled': {'departure': 1661688240, 'arriv...",NA,NA,True,3107.277910,Salt Lake City International Airport,KSLC
4,2d3d0b38,B77L,QTR,179,Boeing 777-2DZ(LR),Qatar Airways,United States,32.89682,-97.037903,KDFW,...,51.608604,OTHH,Landed,"{'scheduled': {'departure': 1661640000, 'arriv...",AS,NA,False,12765.001590,Dallas Fort Worth International Airport,KDFW

In [203]:
airports_ranking_by_continent = flights_with_destination_airport_name.groupby(['destination_continent', 'name'], as_index=False)['id'].count().sort_values('id', ascending=False)
airports_ranking_by_continent.drop_duplicates(subset=['destination_continent'])

    destination_continent                                            name  id
144                    NA  New York John F. Kennedy International Airport  46
86                     EU                         London Heathrow Airport  24
56                     AS             Seoul Incheon International Airport  19
178                    OC                  Sydney Kingsford Smith Airport  10
180                    SA          Bogota El Dorado International Airport   7
8                      AF     Johannesburg OR Tambo International Airport   4
192               Unknown                      Abidjan Port Bouet Airport   1

## - Q7.2: What airport airport has the greatest inbound/outbound flights difference ? (positive or negative)

#### Don't understand the question, are we looking at what origin_arport has the most differences between regional flights and intercontinental ones ? If not, what is an inbound flight ?

#### I will assume that it is the case, and also that an unknown destination counts as an outbound flight

In [267]:
official_flights['in-out'] = official_flights.apply(lambda x : 1 if x['destination_continent'] == x['origin_continent'] else -1, axis=1)

/tmp/ipykernel_646128/1411821337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  official_flights['in-out'] = official_flights.apply(lambda x : 1 if x['destination_continent'] == x['origin_continent'] else -1, axis=1)

In [269]:
official_flights.columns

Index(['id', 'aircraft_code', 'airline_icao', 'aircraft_country_id',
       'aircraft_model', 'airline_name', 'destination_airport_country_name',
       'destination_airport_latitude', 'destination_airport_longitude',
       'destination_airport_icao', 'origin_airport_country_name',
       'origin_airport_latitude', 'origin_airport_longitude',
       'origin_airport_icao', 'status_text', 'time_details',
       'origin_continent', 'destination_continent', 'regional',
       'flight_distance', 'duration', 'in-out'],
      dtype='object')

In [273]:
in_out_airports = official_flights.groupby('origin_airport_icao', as_index=False)['in-out'].sum()
in_out_airports['in-out'] = in_out_airports['in-out'].apply(lambda x : abs(x))
in_out_airports.sort_values('in-out', ascending=False).iloc[0]

origin_airport_icao    EGLL
in-out                   46
Name: 22, dtype: object

In [275]:
airports_df.loc[airports_df['icao'] == 'EGLL']['name']

2406    London Heathrow Airport
Name: name, dtype: object

#### The London Heathrow Airport seems to be the airport with the most inbound/outbound

## - Q8: By continent, what is the average active flight speed ? (flight localization by airport of origin)

In [204]:
official_flights.columns

Index(['id', 'aircraft_code', 'airline_icao', 'aircraft_country_id',
       'aircraft_model', 'airline_name', 'destination_airport_country_name',
       'destination_airport_latitude', 'destination_airport_longitude',
       'destination_airport_icao', 'origin_airport_country_name',
       'origin_airport_latitude', 'origin_airport_longitude',
       'origin_airport_icao', 'status_text', 'time_details',
       'origin_continent', 'destination_continent', 'regional',
       'flight_distance'],
      dtype='object')

In [257]:
def calculate_duration(time_details):
    try:
        return int(time_details['historical']['flighttime'])
    except TypeError:
        return 0

In [258]:
official_flights['duration'] = official_flights['time_details'].apply(lambda x : calculate_duration(x))

/tmp/ipykernel_646128/1855033763.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  official_flights['duration'] = official_flights['time_details'].apply(lambda x : calculate_duration(x))

In [259]:
official_flights.head(10)

,id,aircraft_code,airline_icao,aircraft_country_id,aircraft_model,airline_name,destination_airport_country_name,destination_airport_latitude,destination_airport_longitude,destination_airport_icao,...,origin_airport_latitude,origin_airport_longitude,origin_airport_icao,status_text,time_details,origin_continent,destination_continent,regional,flight_distance,duration
12,2d3c2b17,B763,FDX,236,Boeing 767-3S2F,FedEx,N/A,N/A,N/A,N/A,...,35.042412,-89.976601,KMEM,Scheduled,"{'scheduled': {'departure': 0, 'arrival': 0}, ...",NA,Unknown,False,0.000000,0
14,2d3c8b69,A321,ACA,40,Airbus A321-211,Air Canada,N/A,N/A,N/A,N/A,...,46.362202,-72.675591,CYRQ,Unknown,"{'scheduled': {'departure': 0, 'arrival': 0}, ...",NA,Unknown,False,0.000000,0
17,2d3cfb97,BCS3,ACA,40,Airbus A220-300,Air Canada,United States,40.78838,-111.976997,KSLC,...,43.680634,-79.627007,CYYZ,Landed,"{'scheduled': {'departure': 1661637300, 'arriv...",NA,NA,True,2672.466803,0
18,2d3d0b38,B77L,QTR,179,Boeing 777-2DZ(LR),Qatar Airways,United States,32.89682,-97.037903,KDFW,...,25.272524,51.608604,OTHH,Landed,"{'scheduled': {'departure': 1661640000, 'arriv...",AS,NA,False,12765.001590,55592
19,2d3d0eda,B77L,UAE,234,Boeing 777-21H(LR),Emirates,United States,32.89682,-97.037903,KDFW,...,25.252769,55.364441,OMDB,Delayed,"{'scheduled': {'departure': 1661640600, 'arriv...",AS,NA,False,12939.579079,0
20,2d3d0f25,A35K,QTR,179,Airbus A350-1041,Qatar Airways,United States,33.94252,-118.406998,KLAX,...,25.272524,51.608604,OTHH,Estimated,"{'scheduled': {'departure': 1661640000, 'arriv...",AS,NA,False,13366.606077,55261
21,2d3d10c0,A359,AAR,207,Airbus A350-941,Asiana Airlines,Germany,50.037796,8.555783,EDDF,...,37.46907,126.4505,RKSI,Landed,"{'scheduled': {'departure': 1661649000, 'arriv...",AS,EU,False,8565.388869,46556
22,2d3d1110,A35K,QTR,179,Airbus A350-1041,Qatar Airways,Qatar,25.272524,51.608604,OTHH,...,37.618969,-122.374001,KSFO,Landed,"{'scheduled': {'departure': 1661641200, 'arriv...",NA,AS,False,13014.295854,53074
23,2d3d2032,A359,DAL,236,Airbus A350-941,Delta Air Lines,South Africa,-26.139099,28.246,FAOR,...,33.636719,-84.428001,KATL,Estimated,"{'scheduled': {'departure': 1661642700, 'arriv...",NA,AF,False,13581.787793,55046
24,2d3d2541,A388,UAE,234,Airbus A380-861,Emirates,United Arab Emirates,25.252769,55.364441,OMDB,...,37.618969,-122.374001,KSFO,Estimated,"{'scheduled': {'departure': 1661645100, 'arriv...",NA,AS,False,13040.680904,53554

In [260]:
official_flights.iloc[0, -6]

{'scheduled': {'departure': 0, 'arrival': 0},
 'real': {'departure': None, 'arrival': None},
 'estimated': {'departure': None, 'arrival': None},
 'other': {'eta': 0, 'updated': 1661619438},
 'historical': None}

#### As I found no data about the flights speed, I wanted to calculate it myself using the distance between 2 airports and the duration of the flight. But, there are two issues with that method. First, the data is not great with many fields missing or equels None, the statistics would be falsified. And most importantly, it doesn't take into account the eventual connection time between two airports.
#### If I still had to do it, I would try to get the time_details['historical']['flighttime'] and see how it goes.

In [261]:
flights_with_tim_and_distance = official_flights.loc[(official_flights['flight_distance'] > 0) & (official_flights['duration'] > 0)]

In [262]:
flights_with_tim_and_distance.head()

,id,aircraft_code,airline_icao,aircraft_country_id,aircraft_model,airline_name,destination_airport_country_name,destination_airport_latitude,destination_airport_longitude,destination_airport_icao,...,origin_airport_latitude,origin_airport_longitude,origin_airport_icao,status_text,time_details,origin_continent,destination_continent,regional,flight_distance,duration
18,2d3d0b38,B77L,QTR,179,Boeing 777-2DZ(LR),Qatar Airways,United States,32.89682,-97.037903,KDFW,...,25.272524,51.608604,OTHH,Landed,"{'scheduled': {'departure': 1661640000, 'arriv...",AS,NA,False,12765.001590,55592
20,2d3d0f25,A35K,QTR,179,Airbus A350-1041,Qatar Airways,United States,33.94252,-118.406998,KLAX,...,25.272524,51.608604,OTHH,Estimated,"{'scheduled': {'departure': 1661640000, 'arriv...",AS,NA,False,13366.606077,55261
21,2d3d10c0,A359,AAR,207,Airbus A350-941,Asiana Airlines,Germany,50.037796,8.555783,EDDF,...,37.46907,126.4505,RKSI,Landed,"{'scheduled': {'departure': 1661649000, 'arriv...",AS,EU,False,8565.388869,46556
22,2d3d1110,A35K,QTR,179,Airbus A350-1041,Qatar Airways,Qatar,25.272524,51.608604,OTHH,...,37.618969,-122.374001,KSFO,Landed,"{'scheduled': {'departure': 1661641200, 'arriv...",NA,AS,False,13014.295854,53074
23,2d3d2032,A359,DAL,236,Airbus A350-941,Delta Air Lines,South Africa,-26.139099,28.246,FAOR,...,33.636719,-84.428001,KATL,Estimated,"{'scheduled': {'departure': 1661642700, 'arriv...",NA,AF,False,13581.787793,55046

#### Reminder that flight_distance is in km and duration is in seconds

In [263]:
flights_with_tim_and_distance['avg_speed'] = flights_with_tim_and_distance.apply(lambda x : 
                                            (x['flight_distance']*1000/x['duration'])*3.6, axis=1)

/tmp/ipykernel_646128/1476919283.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flights_with_tim_and_distance['avg_speed'] = flights_with_tim_and_distance.apply(lambda x :

In [264]:
flights_with_tim_and_distance.head()

,id,aircraft_code,airline_icao,aircraft_country_id,aircraft_model,airline_name,destination_airport_country_name,destination_airport_latitude,destination_airport_longitude,destination_airport_icao,...,origin_airport_longitude,origin_airport_icao,status_text,time_details,origin_continent,destination_continent,regional,flight_distance,duration,avg_speed
18,2d3d0b38,B77L,QTR,179,Boeing 777-2DZ(LR),Qatar Airways,United States,32.89682,-97.037903,KDFW,...,51.608604,OTHH,Landed,"{'scheduled': {'departure': 1661640000, 'arriv...",AS,NA,False,12765.001590,55592,826.629834
20,2d3d0f25,A35K,QTR,179,Airbus A350-1041,Qatar Airways,United States,33.94252,-118.406998,KLAX,...,51.608604,OTHH,Estimated,"{'scheduled': {'departure': 1661640000, 'arriv...",AS,NA,False,13366.606077,55261,870.772912
21,2d3d10c0,A359,AAR,207,Airbus A350-941,Asiana Airlines,Germany,50.037796,8.555783,EDDF,...,126.4505,RKSI,Landed,"{'scheduled': {'departure': 1661649000, 'arriv...",AS,EU,False,8565.388869,46556,662.329236
22,2d3d1110,A35K,QTR,179,Airbus A350-1041,Qatar Airways,Qatar,25.272524,51.608604,OTHH,...,-122.374001,KSFO,Landed,"{'scheduled': {'departure': 1661641200, 'arriv...",NA,AS,False,13014.295854,53074,882.757378
23,2d3d2032,A359,DAL,236,Airbus A350-941,Delta Air Lines,South Africa,-26.139099,28.246,FAOR,...,-84.428001,KATL,Estimated,"{'scheduled': {'departure': 1661642700, 'arriv...",NA,AF,False,13581.787793,55046,888.246849

In [266]:
flights_with_tim_and_distance.groupby('origin_continent', as_index=False)['avg_speed'].mean()

  origin_continent   avg_speed
0               AF  843.876155
1               AS  818.617325
2               EU  807.311893
3               NA  831.387177
4               OC  832.768784
5               SA  808.884201

#### Looking online, I saw that the average cruising speed of a plane is about 880 km/h, so the results found are a bit under average, but the:y take into account the time spent before flying, and the time spent going up and then down before and during landing. And, our DataFrame is not the best, so I think this little offset in "normal"